body {
    width: 100vw;
    height: 100vh;
    background: #8A2387;
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
}

.gradient-bg {
    background: #8A2387;
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
}

.full-width {
	width: 100% !important;
}

.full-height {
	height: 100% !important;
}

.half-width {
	width: 50% !important;
}

.half-height {
	height: 50% !important;
}

.scroll-vertical {
	overflow-y: scroll !important;
}

.no-scroll-horizontal {
	overflow-x: hidden !important;
}
.h-2 {
    height: 2% !important;
}

.h-3 {
    height: 3% !important;
}

.h-5 {
	height: 5% !important;
}

.h-10 {
	height: 10% !important;
}

.h-15 {
	height: 15% !important;
}

.h-20 {
	height: 20% !important;
}

.h-25 {
	height: 25% !important;
}

.h-30 {
	height: 30% !important;
}

.h-35 {
	height: 35% !important;
}

.h-40 {
	height: 40% !important;
}

.h-45 {
	height: 45% !important;
}

.h-50 {
	height: 50% !important;
}

.h-55 {
	height: 55% !important;
}

.h-60 {
	height: 60% !important;
}

.h-65 {
	height: 65% !important;
}

.h-70 {
	height: 70% !important;
}

.h-75 {
	height: 75% !important;
}

.h-80 {
	height: 80% !important;
}

.h-85 {
	height: 85% !important;
}

.h-90 {
	height: 90% !important;
}

.h-95 {
	height: 95% !important;
}

.h-97 {
    height: 97% !important;
}

.h-98 {
    height: 98% !important;
}

.h-100 {
	height: 100% !important;
}

.h-screen-5 {
	height: 5vh !important;
}

.h-screen-7 {
    height: 7vh !important;
}

.h-screen-10 {
	height: 10vh !important;
}

.h-screen-15 {
	height: 15vh !important;
}

.h-screen-20 {
	height: 20vh !important;
}

.h-screen-25 {
	height: 25vh !important;
}

.h-screen-30 {
	height: 30vh !important;
}

.h-screen-35 {
	height: 35vh !important;
}

.h-screen-40 {
	height: 40vh !important;
}

.h-screen-45 {
	height: 45vh !important;
}

.h-screen-50 {
	height: 50vh !important;
}

.h-screen-55 {
	height: 55vh !important;
}

.h-screen-60 {
	height: 60vh !important;
}

.h-screen-65 {
	height: 65vh !important;
}

.h-screen-70 {
	height: 60vh !important;
}

.h-screen-75 {
	height: 75vh !important;
}

.h-screen-80 {
	height: 80vh !important;
}

.h-screen-85 {
	height: 85vh !important;
}

.h-screen-90 {
	height: 90vh !important;
}

.h-screen-95 {
	height: 95vh !important;
}

.h-screen-93 {
    height: 93vh !important;
}

.h-screen-full {
	height: 100vh !important;
}

.w-screen-full {
    width: 100vw !important;
}

.lift-up {
	position: relative;
	top: 0px;
	transition: all ease 0.3s;
}

.lift-up:hover {
	top: -5px;
}

.glow-up {
	box-shadow: 0;
	transition: 0.3s;
}

.glow-up:hover {
	box-shadow: 0 2px 15px var(--primary-300)
}

.hover-child {
	display: none;
}

.hover-parent:hover .hover-child {
	display: block;
}

.spaced-bold {
	letter-spacing: 1px;
	font-weight: bold;
}

.mask-dark-100 {
	background: rgba(0, 0, 0, 0.1) !important;
}

.mask-dark-200 {
	background: rgba(0, 0, 0, 0.2) !important;
}

.mask-dark-300 {
	background: rgba(0, 0, 0, 0.3) !important;
}

.mask-dark-400 {
	background: rgba(0, 0, 0, 0.4) !important;
}

.mask-dark-500 {
	background: rgba(0, 0, 0, 0.5) !important;
}

.mask-dark-600 {
	background: rgba(0, 0, 0, 0.6) !important;
}

.mask-dark-700 {
	background: rgba(0, 0, 0, 0.7) !important;
}

.mask-dark-800 {
	background: rgba(0, 0, 0, 0.8) !important;
}

.mask-dark-900 {
	background: rgba(0, 0, 0, 0.9) !important;
}

.w-5 {
	width: 5% !important;
}

.w-10 {
	width: 10% !important;
}

.w-15 {
	width: 15% !important;
}

.w-20 {
	width: 20% !important;
}

.w-25 {
	width: 25% !important;
}

.w-30 {
	width: 30% !important;
}

.w-35 {
	width: 35% !important;
}

.w-40 {
	width: 40% !important;
}

.w-45 {
	width: 45% !important;
}

.w-50 {
	width: 50% !important;
}

.w-55 {
	width: 55% !important;
}

.w-60 {
	width: 60% !important;
}

.w-65 {
	width: 65% !important;
}

.w-70 {
	width: 70% !important;
}

.w-75 {
	width: 75% !important;
}

.w-80 {
	width: 80% !important;
}

.w-85 {
	width: 85% !important;
}

.w-90 {
	width: 90% !important;
}

.w-95 {
	width: 95% !important;
}

.w-100 {
	width: 100% !important;
}

.text-center {
    text-align: center !important;
}

.bg-test {
    background: red !important;
}

.kruizaster-create-disaster-center-pane {
    color: #ffffff !important;
    border-radius: 20px;
    padding: 2rem;
}

.kruizaster-list-rec-center-pane {
    color: #ffffff !important;
    border-radius: 20px;
    padding: 2rem;
    max-height: 80vh;
}
.header-entry-column {
    margin-top: 2px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1)
}

.exp-entry-column {
    padding: 15px;
    border-radius: 10px;
    transition: padding 0.3s ease;
}

.exp-entry-column:hover {
    padding: 25px 15px 25px 15px;
}

.list-container {
    max-height: 60vh;
}

.text-white {
    color: #FFFFFF !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.float-right {
    float: right !important;
}

.result-block {
    padding: 10px 5px 10px 5px  !important;
}

.p-sm {
    padding: 10px !important;
}

.curved-border {
    border-radius: 10px !important;
}

.inactive-result {
    background: rgba(255, 255, 255, 0.1)
}

.result-block-item {
    margin-top: 5px !important;
    border-radius: 10px;
}

.inactive-result:hover {
    background: rgba(0, 0, 0, 0.3) !important;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}